@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
*{
  margin: 0;
}
#app {
  padding: 0;
  background-image: url("src/styles/images/sky.jpg");
  color: #eedb00;
  background-attachment: fixed;
}




